@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400);

$orange: tomato;
$dark-gray: #222;
$light-gray: #555;

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  height: 100vh;
  margin-bottom: 100px;
}

.box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/smoke_texture2714-min.jpg') center center no-repeat;
  background-size: cover;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: hidden;
 
  .smoke {
    position: absolute;
    top: -10%;
    left: -10%;
    transform: translate3d(0, 0, 0) rotate(0.01deg);
    width: 120%;
    height: 120%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/smoke-min.png') center center no-repeat;
    background-size: cover;
    z-index: -10;
    opacity: .5;
    animation: smokebg 60s infinite alternate;
      @keyframes smokebg {
        25% {
          transform: translate3d(100px, 0, 0) rotate(0.01deg)
        }
        50% {
          transform: translate3d(75px, -25px, 0) rotate(0.01deg)
        }
        75% {
          transform: translate3d(45px, 30px, 0) rotate(0.01deg)
        }
        100% {
          transform: translate3d(25px, -15px, 0) rotate(0.01deg)
        }
      }
    }
  }

